---
import ExtstatsNavbarDropdown from "./ExtstatsNavbarDropdown.astro";
const { link } = Astro.props;
---
<div class="navbar-menu">
    {link.link ?
            <a class={`navbar-button clickable ${link.style}`} href={`${link.link}`}>{link.name}</a>
        :
            <a class={`navbar-button ${link.style}`}>{link.name}</a>
    }
    <ExtstatsNavbarDropdown items={link.items} style={link.style} />
</div>