---
import Menu from './ExtstatsNavbarMenu.astro';
import GeekMenu from './GeekMenu.astro';
import {bggMenu, devMenu, type SubMenu, userMenu, patreonMenu} from "../code/NavBase";

const blogMenu: SubMenu = { name: 'Blog', style: 'nav-blog', link: "/blog.html", items: [
        // { link: "http://blog.drfriendless.com/2018/09/08/welcome-to-new-users/", name: "Welcome"},
        // { link: "http://blog.drfriendless.com/2018/08/12/what-use-are-users/", name: "Logins"},
    ]};
---
<div role="navigation" class="extstats-navbar">
    <a class="go-button" href="/" role="button"><img src={'/img/go.png'}  height="28px" alt="GO logo from Monopoly" title="Go directly to the Home Page"/></a>
    <GeekMenu/>
    <a class="navbar-button nav-wartable clickable" href="/wartable.html">War Table</a>
    <a class="navbar-button nav-ranking clickable" href="/rankings.html">Rankings</a>
    <Menu link={blogMenu}/>
    <Menu link={userMenu}/>
    <Menu link={bggMenu}/>
    <Menu link={devMenu}/>
    <Menu link={patreonMenu}/>
    <img src="/img/No_AI_art.svg" alt="No AI" height="100%" title="No AI was used in the building of this site."/>
</div>